<% page_title 'Confirmation instructions' %>

<h2><%= t('Resend confirmation instructions') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>

  <%= f.button :submit %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "devise/shared/links" %>
<% end %>