<% page_title "Change password" %>

<h2><%= t('Change your password') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :reset_password_token, :as => :hidden %>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.button :submit %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "devise/shared/links" %>
<% end %>