<% page_title "Forgot password?" %>

<h2><%= t('Forgot your password?') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>

  <%= f.button :submit %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "devise/shared/links" %>
<% end %>