<% page_title 'Sign in' %>

<h2><%= t('Sign in') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  
  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, :as => :boolean %>
  <% end -%>
  
  <%= f.button :submit %>
<% end %>

<% content_for :sidebar do %>
  <%= render "devise/shared/links" %>
<% end %>