<!DOCTYPE html>
<html>
<head>
  <title>APP NAME HERE | <%= "#{current_user.company_name} | " if current_user %><%= page_title %></title>
  <%= stylesheet_link_tag 'reset', 'grid', 'jquery.uniform', 'application' %>
  <%= javascript_include_tag 'jquery', 'jquery.ui', 'json', 'rails', 'jquery.uniform', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller_name %>">
  
  <div class="header-background"></div>
  <header id="branding" class="container_16 clearfix">
    <h1 class="grid_16 clearfix">APP NAME HERE / <span><%= current_user.company_name if current_user %></span></h1>
    
    <% unless flash.blank? %>
      <% flash.each do |type,value| %>
        <div class="flash <%= type %>"><%= value %></div>
      <% end %>
    <% end %>
    
    <%= navigation :class => 'grid_16 clearfix main' do %>
      <%= title 'Navigation' %>
      <%= item  t('Dashboard'),     root_path %>
    <% end %>
    
    <%= navigation :class => 'grid_6 user omega' do %>
      <%= title 'User Navigation' %>
      
      <% unless user_signed_in? %>
        <%= item  t('Sign in'),     new_user_session_path %>
      <% else %>
        <%= item  t('Sign out'),    destroy_user_session_path %>
      <% end %>
    <% end %>
  </header>
  
  <div class="container container_16 clearfix <%= action_name %>">
    
    <section class="content <%= content_for?(:sidebar) ? 'grid_12' : 'grid_16' %>">
      <%= yield %>
    </section>
    
    <% if content_for?(:sidebar) %>
      <aside class="sidebar grid_4 omega">
        <%= yield :sidebar %>
      </aside>
    <% end %>
    
  </div>
  
  <footer class="container_16 clearfix">
    <p class="grid_16 clearfix">
      APP NAME HERE - Development - Version: <%= `cd #{Rails.root} && git log --pretty=oneline -1` %>
    </p>
  </footer>
  
</body>
</html>
