<!DOCTYPE>
<html>
  <head>
    <title></title>
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'lib/qunit.css' %>

    <script data-main="/javascripts/application.js" src="/javascripts/lib/require-jquery.js"></script>

    <%= yield :javascript_include %>

    <script type="text/javascript" charset="utf-8">
      <%= yield :javascript %>
    </script>
  </head>

  <body>
    
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <%= yield %>

  </body>

</html>